<!-- provides author credits -->
{%if include.author %}
  {% for author in site.data.authors %}
    {% if author[1].username == include.author %}
      <div class="author-section mb4">
          {% if author[1].assets %}
              <amp-img width="100" height="100" class="author-thumb-post" layout="responsive" src="{{site.url}}/{{ site.baseurl }}/{{author[1].assets}}" alt="{{author[1].name}}"/></amp-img>
          {% endif %}
          <a href="{{site.baseurl}}authors/#{{author[1].username}}"><h4 class="author-name">{{author[1].name}}</h4></a>
          <p class="mb4 px3">{{author[1].bio}}</p>
      </div>
    {% endif %}
  {% endfor %}
{%endif%}
