---
layout: default
---
{% if page.cover %}
  {% include cover_figure.html cover=page.cover title=page.title author=page.author %}
{%endif%}

<main id="content" role="main" class="">
  {%if page.cover %}
  <article class="photo-article">
    <div class="post-meta mb4 px3">
      <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
      {% if page.tags.size > 0 %}
        {% include page_tags.html tags=page.tags %}
      {% endif %}
    </div>

  {% else %}
  <article class="recipe-article">
    <header>
      <span class="ampstart-subtitle block px3 pt2 mb2">
        {% if page.tags.size > 0 %}
          {% include page_tags.html tags=page.tags %}
        {% endif %}
      </span>
      <h1 class="mb1 px3">{{page.title}}</h1>

      <address class="ampstart-byline clearfix mb4 px3 h5">
        <time class="ampstart-byline-pubdate block bold my1" datetime="{{ page.date | date:'%e %B %Y' }}">{{ page.date | date:'%e %B %Y' }}</time>
      </address>
    </header>
  {% endif %}
    <div class="px3 mb4">
      {{content}}
    </div>
    {% if page.show_related %}
      {% include related_articles.html show_related=page.show_related title=page.title %}
    {%endif%}
  </article>
  {%if page.author or site.share_social %}
    <hr/>
  {%endif%}
  {%if page.author %}
    {% include author_credit.html author=page.author %}
  {%endif%}
  {% if site.share_social %}
    {% include social_box.html %}
  {%endif%}
  {% include footer.html %}
</main>
